.map-container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: 100px 0px;

    #mapid{
        min-width: 300px;
        width: 90%;
        max-width: 1200px;
    }
}
