#navbar {
  background-color: #20232a;
  color: #fff;
  color: #61dafb;
  text-align: left;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  height: 60px;
  z-index: 1000;
  img.App-logo {
    width: 50px;
    height: 50px;
    float: left;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  ul {
    display: inline-flex;
    list-style: none;
    margin: 0px;
    li.nav-btn {
      padding: 0px 0px;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 3px solid;
      border-color: transparent;
      &:hover {
        background-color: gray;
      }
      &.active {
        border-color: lightblue;
        // color: #20232a;
      }
      a,span{
        color: #FFF;
        padding: 20px;
        text-decoration: none;
      }
    }
    .droplist {
      position: absolute;
      margin-left: 0px;
      color: white;
      background-color: #20232a;
      box-sizing: border-box;
      margin-top: 65px;

      ul {
        display: flex;
        flex-flow: column;
        padding: 10px 0px;
        li.list-item {
          padding: 10px 40px;
          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
