.hotpost-container {
  background-color: #282c34;
  padding: 100px 5vw;
  color: #FFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .page-btn-container{
    width: 100%;
    max-width: 1000px;

  }
  ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 1000px;
    li {
      color: #FFF;
      list-style: none;
      display: flex;
      height: 34px;
      align-items: center;
      padding: 2px 10px;
      overflow: hidden;
      border-bottom: 1px solid #FFF;
      div{
        padding: 0px 5px;
        // text-align: left;
      }
      
      div.hp-hash{
        text-align: right;
        flex-basis: 20px;
      }

      div.hp-content{
        flex-basis: 100px;
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
      }
      div.hp-time {
        flex-basis: 100px;
        text-align: center;
      }


    }
  }
}

