.chart-container {
  background-color: #282c34;
  padding: 100px 5vw;
  color: #FFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .w-full{
    width:100%;
  }
  .h-full{
    height: 100%;
  }

}

